*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body{
    background-color: rgb(211, 209, 209);
}
header{
    background-color: black;
    color: aliceblue;
    display: flex;
    justify-content: end;
    padding: 15px;
    font-size: 20px;
}
.nav-bar{
    width: 25%;
    /* border: 2px solid blue; */
    background-color: rgb(255, 255, 255);
}
.navbar img{
width: 250%;
border-radius: 30px;

}
.navbar{
    display: block;
    /* border: 2px solid red; */
    display: flex;
    padding: 20px;
    width: 20%;
}
.psn{
margin-left: 35px;
}
.psn p{
    display: flex;
    margin-bottom: 10px;
}
.icons li{
    margin-top: 200px;

}
.icons i{
    margin-right: 10px;
}
i{
    color: rgb(2, 2, 2);
}
.dtn{
    /* border: 2px solid blue; */
    width: 20%;
    padding: 20px;
}
.dtn li{
    margin-bottom: 25px;
}
.dtn a{
    margin-right: 10px;
}
/* main*************************************8 */
.main-sect{
    /* border: 2px solid blue; */
    padding: 10px;
    width: 100%;
}
.all{
    display: flex;
}
.fr{
    display: flex;
    justify-content: space-around;
}
.fr img{
    width: 70%;
}
.mr{
    display: block;
}
/* grid1{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
    background-color: aqua;
} */
table{
    /* border: 2px solid blue; */
    width: 100%;
    display: block;
}
td a{
    /* width: 10%; */
    max-width: 10%;
}
td{
    /* border: 2px solid red; */
    padding: 5px;
    width: 80%;
    background-color: rgb(250, 250, 250);
}
.table2{
    width: 100%;
    border: 2px solid red;
}
.table2 td{
    width: 100%;
}

