*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
header{
    background-color: black;
    color: aliceblue;
    display: flex;
    justify-content: end;
    padding: 15px;
    font-size: 20px;
}
main-sect{
    width: 20%;
    border: 2px solid blue;
}
.navbar img{
width: 20%;
border-radius: 30px;

}
.navbar{
    display: block;
    /* border: 2px solid red; */
    display: flex;
    padding: 20px;
    width: 20%;
}
.psn{
margin-left: 35px;
}
i{
    color: rgb(2, 2, 2);
}
.dtn{
    border: 2px solid blue;
    width: 20%;
    padding: 20px;
   
}
.dtn a{
    margin: 20px;
   
}
