*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body{
    background-color: gray;
}
header{
    background-color: black;
    color: aliceblue;
    display: flex;
    justify-content: end;
    padding: 15px;
    font-size: 20px;
}
.main-sect{
    width: 20%;
    /* border: 2px solid blue; */
    background-color: aliceblue;
}
.navbar img{
width: 500%;
border-radius: 30px;

}
.navbar{
    display: block;
    /* border: 2px solid red; */
    display: flex;
    padding: 20px;
    width: 20%;
}
.psn{
margin-left: 35px;
}
.psn p{
    display: flex;
    margin-bottom: 10px;
}
.icons li{
    margin-top: 200px;

}
i{
    color: rgb(2, 2, 2);
}
.dtn{
    /* border: 2px solid blue; */
    width: 20%;
    padding: 20px;
    
}
.dtn li{
    margin-bottom: 25px;
}